@font-face {
    font-family: facebook;
    src: url(FACEBOLF.otf);
}

#perfil:hover{
	background-color: #345192;
}

#conjunto{
	margin-left: -400px;
}

#divisao{
	margin: 0px 3px 0px 3px;
}

#paginaInicial:hover{
	background-color: #345192; 
}

#divisao2 {
	margin: 0px 15px 0px 15px;
}

#primeiralinha{
	margin-left: 330px;
	margin-top: 5px;
	height: 50px;
	width: 175px
}
#perfilzin:hover{
	background-color: #f5f6f7
}

#tl:hover{
	background-color: #f5f6f7
}

#messenger:hover{
	background-color: #f5f6f7
}

#marketplace:hover{
	background-color: #f5f6f7
}

.logobranca 
{
	margin-left:120px; 
}

#feed{
	margin-top: -30px;
	margin-left: 550px;
	width: 470px;
	height: 140px
}

#post1{
margin-top: 0px;
	margin-left: 550px;
	width: 470px;
	height: 630px
}

#post2{
	margin-top: 0px;
	margin-left: 550px;
	width: 470px;
	height: 855px
}

#stories{
	border-radius: 2px;
	margin-top: -1640px;
	margin-left: 1050px;
	width: 300px
}

#stories2{
	border-radius: 2px;
	margin-top: 10px;
	margin-left: 1050px;
	width: 300px
}

#stories3{
	border-radius: 2px;
	margin-top: 10px;
	margin-left: 1050px;
	width: 300px;
	height: 430px;
}

#stories4{
	border-radius: 2px;
	margin-top: 10px;
	margin-left: 1050px;
	width: 300px
}  
#stories5{
	border-radius: 2px;
	margin-top: 10px;
	margin-left: 1050px;
	width: 300px	
}